<% provide(:title, 'ToDo編集')%>
<% provide(:body_id, 'view-background') %>
<% provide(:class_text, 'edit-todo') %>
<% provide(:button_update, '更新') %>
<% provide(:button_cancel, '戻る') %>

<!-- パンくずリスト -->
<% breadcrumb :todo_edit, @todo %>

<h1>ToDo編集</h1>
<h2 class="head">Doを具体的なタスクレベルまで落とし込みます</h2><br>
<h2 class="head-supplement">
  <div class="h2-text">
    ・ToDoとはこれなら今すぐに手をつけられるレベルまで落とし込まれたタスクのこと<br>
    ・スケジュール帳に書き込めるかどうかを判断基準にする<br>
    ・進捗確認は1日最低1回は実施する<br>
    ・ToDoは検証同時に実施していく
  </div>
</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @todo, url: user_goal_subgoal_doing_todo_path(@user.id, @goal.id, @subgoal.id, @doing.id), method: :patch, local: true) do |f| %>
      <%= render 'shared/object_error_messages', object: f.object %>
      
        <%= f.label :todo, class: "label-#{yield(:class_text)}" %>
        <%= f.text_field :todo, class: "form-control" %>
        <div id="form-assist">
          ・Doを実行する際に迷わないレベルまで落とし込まれたタスクを記載
        </div>

        <%= f.label :worked_on, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
        <%= f.date_field :worked_on, class: "form-control datetime-form" %><br>
        <div id="form-assist">
          ・ToDoを実行する日付を記載
        </div>

        <%= f.label :estimated_time, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
        <%= f.text_field :estimated_time, class: "form-control datetime-form" %><br>
        <div id="form-assist">
          ・どれくらいの時間がかかるかを記載
        </div>

        <%= f.label :start_time, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
        <%= f.datetime_field :start_time, class: "form-control datetime-form" %><br>

        <%= f.label :finish_time, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
        <%= f.datetime_field :finish_time, class: "form-control datetime-form" %><br>

        <%= f.label :actual_start_time, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
        <%= f.datetime_field :actual_start_time, class: "form-control datetime-form" %><br>
        <div id="form-assist">
          ・実際にToDoを開始した時間を記載
        </div>

        <%= f.label :actual_finish_time, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
        <%= f.datetime_field :actual_finish_time, class: "form-control datetime-form" %><br>
        <div id="form-assist">
          ・実際にToDoが終了した時間を記載
        </div>

        <%= f.label :achivement, class: "label-#{yield(:class_text)}" %> &nbsp;<span class="supplement">※10%刻み</span>
        <%= f.number_field :achivement, in: 0..100, step: 10, class: "form-control" %>
        <div id="form-assist">
          ・ToDo達成率を記載する
        </div>

        <%= f.label :check, class: "label-#{yield(:class_text)}" %>
        <%= f.text_area :check, class: "form-control" %>
        <div id="form-assist">
          ・実行できた、またはできなかった理由を掘り下げる<br>
          ・「具体的にいうと？」という問いを繰り返す<br>
          ・「なぜ？」を繰り返し課題を整理する
        </div>

        <%= f.label :adjust, class: "label-#{yield(:class_text)}" %>
        <%= f.text_area :adjust, class: "form-control" %>
        <div id="form-assist">
          ・検証から調整を考える<br>
          ・ゴールそのものの見直しが必要か（中止、変更、追加）<br>
          ・計画の大幅な見直しが必要か（課題の入れ替え、追加）<br>
          ・サブゴール、Do、ToDoの見直しが必要か（入れ替え、優先順位の変更）<br>
          ・調整の必要なし
        </div>

        <%= f.label :pattern, class: "label-#{yield(:class_text)}" %>&nbsp;&nbsp;
        <%= f.radio_button :pattern, "完結型" %>完結型 &nbsp;&nbsp;&nbsp;
        <%= f.radio_button :pattern, "継続型" %>継続型<br>
        <div id="form-assist">
          ・1回のアクションで終了か継続してアクションするものか選択
        </div>

        <%= f.label :priority, class: "label-#{yield(:class_text)}" %>
        <%= f.select :priority, Todo.priorities.keys, { include_blank: "選択してください。", selected: "選択してください。"}, 
          { class: "form-control" , required: true } %>
        <div id="form-assist">
          ・優先度を設定する
        </div>
        
        <%= f.label :hold, class: "label-#{yield(:class_text)}" %>;&nbsp;
        <%= f.check_box :hold, class: "form-inline checkbox-doing" %>
        <div id="form-assist">
          ・すぐに着手しない場合はチェック
        </div>

        <%= f.label :note, class: "label-#{yield(:class_text)}" %>
        <%= f.text_field :note, class: "form-control" %>
          
      <div class="button">
        <%= f.submit yield(:button_update), class: "btn btn-primary btn-lg btn-#{yield(:button_update)}" %>
        <%= link_to "#{yield(:button_cancel)}", user_goal_subgoal_doing_todoes_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, doing_id: @doing.id), class: "btn btn-default btn-lg btn-#{yield(:button_update)}" %>
      </div>
    <% end %>
  </div>
</div>