<% provide(:title, 'ToDo編集')%>
<% provide(:body_id, 'view-background') %>
<% provide(:class_text, 'edit-todo') %>
<% provide(:button_update, '更新') %>
<% provide(:button_cancel, '戻る') %>

<h1>ToDo編集</h1>
<h2 class="head-supplement">Doを具体的なタスクレベルまで落とし込みます。
  <div class="h2-text">
    ・ToDoとはこれなら今すぐに手をつけられるレベルまで落とし込まれたタスクのこと。<br>
    ・スケジュール帳に書き込めるかどうかを判断基準にする。<br>
    ・進捗確認は1日最低1回は実施する。<br>
    ・ToDoは検証同時に実施していく。
  </div>
</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @todo, url: user_goal_subgoal_doing_todo_path(@user.id, @goal.id, @subgoal.id, @doing.id), method: :patch, local: true) do |f| %>
      <%= render 'shared/object_error_messages', object: f.object %>
      
        <%= f.label :todo, class: "label-#{yield(:class_text)}" %>
        <%= f.text_field :todo, class: "form-control" %>

        <%= f.label :worked_on, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
        <%= f.date_select :worked_on, class: "form-control datetime-form" %><br>

        <%= f.label :estimated_time, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
        <%= f.time_select :estimated_time, class: "form-control datetime-form" %><br>

        <%= f.label :estimated_start_time, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
        <%= f.datetime_select :estimated_start_time, class: "form-control datetime-form" %><br>

        <%= f.label :estimated_finish_time, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
        <%= f.datetime_select :estimated_finish_time, class: "form-control datetime-form" %><br>

        <%= f.label :actual_start_time, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
        <%= f.datetime_select :actual_start_time, class: "form-control datetime-form" %><br>

        <%= f.label :actual_finish_time, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
        <%= f.datetime_select :actual_finish_time, class: "form-control datetime-form" %><br>

        <%= f.label :achivement, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
        <%= f.text_field :achivement, class: "form-control" %><br>

        <%= f.label :pattern, class: "label-#{yield(:class_text)}" %>&nbsp;&nbsp;
        <%= f.radio_button :pattern, "完結型" %>完結型 &nbsp;&nbsp;&nbsp;
        <%= f.radio_button :pattern, "継続型" %>継続型<br>
        <div id="form-assist">
          ・1回のアクションで終了か継続してアクションするものか選択
        </div>

        <%= f.label :priority, class: "label-#{yield(:class_text)}" %>
        <%= f.select :priority, Todo.priorities.keys, { include_blank: "選択してください。", selected: "選択してください。"}, 
          { class: "form-control" , required: true } %>
        <div id="form-assist">
          ・優先度を設定する
        </div>
        
        <%= f.label :hold, class: "label-#{yield(:class_text)}" %>
        <%= f.check_box :hold, class: "checkbox inline checkbox-doing" %>

        <%= f.label :note, class: "label-#{yield(:class_text)}" %>
        <%= f.text_area :note, class: "form-control" %>
          
      <div class="button">
        <%= f.submit yield(:button_update), class: "btn btn-primary btn-lg btn-#{yield(:button_update)}" %>
        <%= link_to "#{yield(:button_cancel)}", user_goal_subgoal_doing_todoes_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, doing_id: @doing.id), class: "btn btn-default btn-lg btn-#{yield(:button_update)}" %>
      </div>
    <% end %>
  </div>
</div>