<% provide(:title, 'ToDo一覧') %>
<% provide(:body_id, 'view-background') %>

<!-- パンくずリスト -->
<% breadcrumb :todo_index, @doing %>

<h1><%= @doing.doing %></h1>
<h1>ToDo一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="menu-button">
      <%= link_to "ToDo新規作成", new_user_goal_subgoal_doing_todo_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, doing_id: @doing.id), class: "btn btn-lg btn-primary" %>
      <%= link_to "Do一覧へ戻る", user_goal_subgoal_doings_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id), class: "btn btn-lg btn-default" %>
    </div>
    <table class="table table-hover" id="table-index">
      <thead>
        <tr>
          <th><%= Todo.human_attribute_name :todo %></th>
          <th><%= Todo.human_attribute_name :start_time %></th>
          <th><%= Todo.human_attribute_name :finish_time %></th>
        </tr>
      </thead>
    
      <% if @todoes.present? %>
        <% @todoes.each do |todo| %>
          <tr>
            <td><%= link_to "#{todo.todo}", user_goal_subgoal_doing_todo_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, doing_id: @doing.id, id: todo.id) %></td>
            <td><%= l(todo.start_time, format: :long) %></td>
            <td><%= l(todo.finish_time, format: :long) %></td>
            <td align="center">
              <%= link_to "詳細", user_goal_subgoal_doing_todo_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, doing_id: @doing.id, id: todo.id), class: "btn btn-primary" %>
              <%= link_to "編集・検証", edit_user_goal_subgoal_doing_todo_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, doing_id: @doing.id, id: todo.id), class: "btn btn-success" %>
              <%= link_to "削除", user_goal_subgoal_doing_todo_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, doing_id: @doing.id, id: todo.id), method: :delete,
                  data: { confirm: "「#{ todo.todo }」を削除してよろしいですか？" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>