<% provide(:title, 'ToDo登録') %>
<% provide(:body_id, 'view-background') %>
<% provide(:class_text, 'create-todo') %>
<% provide(:button_text, '新規登録') %>
<% provide(:button_cancel, '戻る') %>

<!-- パンくずリスト -->
<% breadcrumb :todo_new, @doing %>

<h1>ToDo登録</h1>
<h2 class="head">Doを具体的なタスクレベルまで落とし込みます</h2><br>
<h2 class="head-supplement">
  <div class="h2-text">
    ・ToDoとはこれなら今すぐに手をつけられるレベルまで落とし込まれたタスクのこと<br>
    ・スケジュール帳に書き込めるかどうかを判断基準にする<br>
    ・進捗確認は1日最低1回は実施する<br>
    ・ToDoは検証同時に実施していく
  </div>
</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @todo, url: user_goal_subgoal_doing_todoes_path(user_id: current_user.id, goal_id: @subgoal.goal_id, doing_id: @doing.id), local: true, method: :post ) do |f| %>
      <%= render 'shared/object_error_messages', object: f.object %>

      <%= f.label :todo, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :todo, class: "form-control" %>
      <div id="form-assist">
        ・Doを実行する際に迷わないレベルまで落とし込まれたタスクを記載
      </div>

      <%= f.label :estimated_time, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
      <%= f.text_field :estimated_time, class: "form-control" %><br>
      <div id="form-assist">
        ・どれくらいの時間がかかるかを記載
      </div>

      <%= f.label :start_time, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
      <%= f.datetime_field :start_time, class: "form-control datetime-form" %><br>

      <%= f.label :finish_time, class: "label-#{yield(:class_text)}" %> &nbsp;&nbsp;
      <%= f.datetime_field :finish_time, class: "form-control datetime-form" %><br>

      <%= f.label :pattern, class: "label-#{yield(:class_text)}" %>&nbsp;&nbsp;
      <%= f.radio_button :pattern, "完結型" %>完結型 &nbsp;&nbsp;&nbsp;
      <%= f.radio_button :pattern, "継続型" %>継続型<br>
      <div id="form-assist">
        ・1回のアクションで終了か継続してアクションするものか選択
      </div>

      <%= f.label :priority, class: "label-#{yield(:class_text)}" %>
      <%= f.select :priority, Todo.priorities.keys, { include_blank: "選択してください。", selected: "選択してください。"}, 
        { class: "form-control" , required: true } %>
      <div id="form-assist">
        ・優先度を設定する
      </div>
      
      <%= f.label :hold, class: "label-#{yield(:class_text)}" %>;&nbsp;
      <%= f.check_box :hold, class: "form-inline checkbox-doing" %>
      <div id="form-assist">
        ・すぐに着手しない場合はチェック
      </div>

      <%= f.label :note, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :note, class: "form-control" %>
    
      <%= f.submit yield(:button_text), class: "btn btn-primary btn-lg btn-#{yield(:class_text)}" %>
      <%= link_to "#{yield(:button_cancel)}", user_goal_subgoal_doing_todoes_path(user_id: @user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, doing_id: @doing.id), class: "btn btn-default btn-lg btn-#{yield(:class_text)}" %>
      
    <% end %>
  </div>
</div>