<% provide(:title, 'ToDo詳細') %>
<% provide(:body_id, 'view-background') %>
<% provide(:button_cancel, '戻る') %>

<!-- パンくずリスト -->
<% breadcrumb :todo_show, @todo %>

<h1>ToDo詳細</h1>

<div class="row">
  <div class="col-md-10 col-md-offset3">
    <table class="table table-bordered table-condensed" id="table-detail">
      <tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :todo %></th>
          <td class="col-md-9"><%= @todo.todo %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :worked_on %></th>
          <td class="col-md-9"><%= @todo.worked_on %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :start_time %></th>
          <td class="col-md-9"><%= l(@todo.start_time, format: :long) %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :finish_time %></th>
          <td class="col-md-9"><%= l(@todo.finish_time, format: :long) %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :estimated_time %></th>
          <td class="col-md-9"><%= @todo.estimated_time %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :actual_start_time %></th>
          <td class="col-md-9"><%= l(@todo.actual_start_time, format: :long) if @todo.actual_start_time.present? %></td>
      </tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :actual_finish_time %></th>
          <td class="col-md-9"><%= l(@todo.actual_finish_time, format: :long) if @todo.actual_finish_time.present? %></td>
      </tr>
      </tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :achivement %></th>
          <td class="col-md-9"><%= @todo.achivement %></td>
      </tr>
      </tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :check %></th>
          <td class="col-md-9"><%= @todo.check %></td>
      </tr>
      </tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :adjust %></th>
          <td class="col-md-9"><%= @todo.adjust %></td>
      </tr>
      </tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :pattern %></th>
          <td class="col-md-9"><%= @todo.pattern ? "完結型" : "継続型" %></td>
      </tr>
      </tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :progress %></th>
          <td class="col-md-9"><%= @todo.progress %></td>
      </tr>
            </tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :priority %></th>
          <td class="col-md-9"><%= @todo.priority %></td>
      </tr>
      </tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :hold %></th>
          <td class="col-md-9"><%= @todo.hold ? "保留中" : "実行中" %></td>
      </tr>
      </tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :note %></th>
          <td class="col-md-9"><%= @todo.note %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :created_at %></th>
          <td class="col-md-9"><%= l(@todo.created_at, format: :long) %></td>
      </tr>
       <tr>
        <th class="col-md-3"><%= Todo.human_attribute_name :updated_at %></th>
          <td class="col-md-9"><%= l(@todo.updated_at, format: :long) %></td>
      </tr>
    </table>
    <tr>
      <td>
        <%= link_to "編集・検証", edit_user_goal_subgoal_doing_todo_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, doing_id: @doing.id, id: @todo.id), class: "btn btn-success" %>
        <%= link_to "削除", user_goal_subgoal_doing_todo_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, doing_id: @doing.id, id: @todo.id), method: :delete,
            data: { confirm: "「#{ @todo.todo }」を削除してよろしいですか？" }, class: "btn btn-danger" %>
        <%= link_to "#{yield(:button_cancel)}", user_goal_subgoal_doing_todoes_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, doing_id: @doing.id), class: "btn btn-default" %>
      </td>
    </tr>
  </div>
</div>