<% provide(:title, 'サブゴール検証一覧') %>
<% provide(:body_id, 'view-background') %>
<% provide(:button_search, '検索') %>

<!-- パンくずリスト -->
<% breadcrumb :subgoalcheck_index, @subgoal %>

<h1><%= @subgoal.subgoal %></h1>
<h1>サブゴール検証一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <!-- 検索 -->
    <div class="col-md-6 col-md-offset-6">
      <div class="search-form">
        <h2>ゴール検証検索</h2>
        <%= form_with(scope: :search, url: search_user_goal_subgoal_subgoalchecks_path(user_id: current_user, goal_id: @subgoal.goal_id, subgoal_id: @subgoal.id), method: :get, local: true) do |f| %>
          <div class="field">
            <%= f.label :estimate_check_at, Goalcheck.human_attribute_name(:estimate_check_at) %><br>
            <%= f.datetime_field :estimate_check_at_from, value: @search_params[:estimate_check_at_from] %> ~
            <%= f.datetime_field :estimate_check_at_to, value: @search_params[:estimate_check_at_to] %>
          </div>

          <div class="field">
            <%= f.label :check_at, Goalcheck.human_attribute_name(:check_at) %><br>
            <%= f.datetime_field :check_at_from, value: @search_params[:check_at_from] %> ~
            <%= f.datetime_field :check_at_to, value: @search_params[:check_at_to] %>
          </div>

          <div class="actions">
            <%= submit_tag "#{yield(:button_search)}", class: "btn btn-primary btn-#{yield(:class_text)}" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="menu-button">
      <%= link_to "サブゴール検証新規作成", new_user_goal_subgoal_subgoalcheck_path(current_user, @goal, @subgoal), class: "btn btn-lg btn-primary" %>
      <%= link_to "サブゴール一覧へ戻る", user_goal_subgoals_path(user_id: current_user.id, goal_id: @goal.id), class: "btn btn-lg btn-default" %>
    </div>
    <table class="table table-hover" id="table-index">
      <thead>
        <tr>
          <th width="200"><%= Subgoalcheck.human_attribute_name :estimate_check_at %></th>
          <th width="200"><%= Subgoalcheck.human_attribute_name :check_at %></th>
          <th width="100"><%= Subgoalcheck.human_attribute_name :span %></th>
          <th width="150"><%= Subgoalcheck.human_attribute_name :achivement %></th>
        </tr>
      </thead>
    
      <% if @subgoalchecks.present? %>
        <% @subgoalchecks.each do |subgoalcheck| %>
          <tr>
            <td><%= link_to "#{ l(subgoalcheck.estimate_check_at, format: :long) }", user_goal_subgoal_subgoalcheck_path(current_user, @goal, @subgoal, subgoalcheck.id) %></td>
            <td><%= l(subgoalcheck.check_at, format: :long) if subgoalcheck.check_at.present? %></td>
            <td><%= subgoalcheck.span %></td>
            <td><%= subgoalcheck.achivement if subgoalcheck.achivement.present? %></td>
            <td align="center">
              <%= link_to "詳細", user_goal_subgoal_subgoalcheck_path(current_user, @goal, @subgoal, subgoalcheck.id), class: "btn btn-primary" %>
              <%= link_to "編集", edit_user_goal_subgoal_subgoalcheck_path(current_user, @goal, @subgoal, subgoalcheck.id), class: "btn btn-success" %>
              <%= link_to "削除", user_goal_subgoal_subgoalcheck_path(current_user, @goal, @subgoal, subgoalcheck.id), method: :delete,
                  data: { confirm: "「#{ l(subgoalcheck.estimate_check_at, format: :long) }」の検証を削除してよろしいですか？" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>