<% provide(:title, 'サブゴール検証詳細') %>
<% provide(:body_id, 'view-background') %>
<% provide(:button_cancel, '戻る') %>

<!-- パンくずリスト -->
<% breadcrumb :subgoalcheck_show, @subgoalcheck %>

<h1>サブゴール検証詳細</h1>

<div class="row">
  <div class="col-md-10 col-md-offset3">
    <table class="table table-bordered table-condensed" id="table-detail">
      <tr>
        <th class="col-md-3"><%= Subgoalcheck.human_attribute_name :check %></th>
          <td class="col-md-9"><%= @subgoalcheck.check %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoalcheck.human_attribute_name :adjust %></th>
          <td class="col-md-9"><%= @subgoalcheck.adjust %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoalcheck.human_attribute_name :estimate_check_at %></th>
          <td class="col-md-9"><%= l(@subgoalcheck.estimate_check_at, format: :long) %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoalcheck.human_attribute_name :check_at %></th>
          <td class="col-md-9"><%= l(@subgoalcheck.check_at, format: :long) if @subgoalcheck.check_at.present? %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoalcheck.human_attribute_name :span %></th>
          <td class="col-md-9"><%= @subgoalcheck.span %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoalcheck.human_attribute_name :achivement %></th>
          <td class="col-md-9"><%= @subgoalcheck.achivement %></td>
      </tr>
      </tr>
        <th class="col-md-3"><%= Subgoalcheck.human_attribute_name :note %></th>
          <td class="col-md-9"><%= @subgoalcheck.note %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoalcheck.human_attribute_name :created_at %></th>
          <td class="col-md-9"><%= l(@subgoalcheck.created_at, format: :long) %></td>
      </tr>
       <tr>
        <th class="col-md-3"><%= Subgoal.human_attribute_name :updated_at %></th>
          <td class="col-md-9"><%= l(@subgoal.updated_at, format: :long) %></td>
      </tr>
    </table>
    <tr>
      <td>
        <%= link_to "編集", edit_user_goal_subgoal_subgoalcheck_path(current_user, @goal, @subgoal, @subgoalcheck), class: "btn btn-success" %>
        <%= link_to "削除", user_goal_subgoal_subgoalcheck_path(current_user, @goal, @subgoal, @subgoalcheck), method: :delete,
            data: { confirm: "「#{ l(@subgoalcheck.estimate_check_at, format: :long) }」の検証を削除してよろしいですか？" }, class: "btn btn-danger" %>
        <%= link_to "#{yield(:button_cancel)}", user_goal_subgoal_subgoalchecks_path(current_user, @goal, @subgoal), class: "btn btn-default" %>
      </td>
    </tr>
  </div>
</div>