<% provide(:title, 'Edit Doing')%>
<% provide(:body_id, "view_background") %>
<% provide(:class_text, 'edit-doing') %>
<% provide(:button_update, '更新') %>
<% provide(:button_cancel, '戻る') %>

<h1>Do編集</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(model: @doing, url: user_goal_subgoal_doing_path(@user.id, @goal.id, @subgoal.id), method: :patch, local: true) do |f| %>
      <%= render 'shared/object_error_messages', object: f.object %>
      
        <%= f.label :doing, class: "label-#{yield(:class_text)}" %>
        <%= f.text_field :doing, class: "form-control" %>

        <%= f.label :start_day, class: "label-#{yield(:class_text)}" %>
        <%= f.date_select :start_day, class: "form-control datetime-form" %><br>

        <%= f.label :finish_day, class: "label-#{yield(:class_text)}" %>
        <%= f.date_select :finish_day, class: "form-control datetime-form" %><br>

        <%= f.label :achivement, class: "label-#{yield(:class_text)}" %>
        <%= f.text_field :achivement, class: "form-control" %>

        <%= f.label :check, class: "label-#{yield(:class_text)}" %>
        <%= f.text_area :check, class: "form-control" %>

        <%= f.label :adjust, class: "label-#{yield(:class_text)}" %>
        <%= f.text_area :adjust, class: "form-control" %>

        <%= f.label :pattern, class: "label-#{yield(:class_text)}" %>&nbsp;&nbsp;
        <%= f.radio_button :pattern, "完結型" %>完結型 &nbsp;&nbsp;&nbsp;
        <%= f.radio_button :pattern, "継続型" %>継続型<br>

        <%= f.label :impact, class: "label-#{yield(:class_text)}" %>
        <%= f.select :impact, Doing.impacts.keys, { include_blank: "選択してください。", selected: "選択してください。"}, 
            { class: "form-control" , required: true } %>

        <%= f.label :worktime, class: "label-#{yield(:class_text)}" %>
        <%= f.select :worktime, Doing.worktimes.keys, { include_blank: "選択してください。", selected: "選択してください。"}, 
            { class: "form-control" , required: true } %>

        <%= f.label :easy, class: "label-#{yield(:class_text)}" %>
        <%= f.select :easy, Doing.easies.keys, { include_blank: "選択してください。", selected: "選択してください。"}, 
            { class: "form-control" , required: true } %>

        <%= f.label :priority, class: "label-#{yield(:class_text)}" %>
        <%= f.select :priority, Doing.priorities.keys, { include_blank: "選択してください。", selected: "選択してください。"}, 
            { class: "form-control" , required: true } %>

        <%= f.label :progress, class: "label-#{yield(:class_text)}" %>
        <%= f.select :progress, Doing.progresses.keys, { include_blank: "選択してください。", selected: "選択してください。"}, { class: "form-control" , required: true } %>

        <%= f.label :hold, class: "label-#{yield(:class_text)}" %>
        <%= f.check_box :hold, class: "checkbox inline checkbox-doing" %>

        <%= f.label :note, class: "label-#{yield(:class_text)}" %>
        <%= f.text_area :note, class: "form-control" %>
      
      <div class="button">
        <%= f.submit yield(:button_update), class: "btn btn-primary btn-#{yield(:button_update)}" %>
        <%= link_to "#{yield(:button_cancel)}", user_goal_subgoal_doings_path(@user.id, @goal.id, @subgoal.id), class: "btn btn-default w-20" %>
      </div>
    <% end %>
  </div>
</div>