<% provide(:title, current_user.name) %>
<% provide(:body_id, "view_background") %>

<h1><%= @subgoal.subgoal %><br>Do一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to "サブゴール一覧へ戻る", user_goal_subgoals_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id), class: "btn btn-lg btn-default pull-right" %>
    <%= link_to "Do新規作成", new_user_goal_subgoal_doing_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id), class: "btn btn-lg btn-primary pull-right" %>
    <table class="table table-hover" id="table-subgoals">
      <thead>
        <tr>
          <th><%= Doing.human_attribute_name :doing %></th>
          <th><%= Doing.human_attribute_name :start_day %></th>
          <th><%= Doing.human_attribute_name :finish_day %></th>
        </tr>
      </thead>
    
      <% if @doings.present? %>
        <% @doings.each do |doing| %>
          <tr>
            <td><%= link_to "#{doing.doing}", user_goal_subgoal_doing_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, id: doing.id) %></td>
            <td><%= l(doing.start_day, format: :long) %></td>
            <td><%= l(doing.finish_day, format: :long) %></td>
            <td align="center">
              <%= link_to "詳細", user_goal_subgoal_doing_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, id: doing.id), class: "btn btn-primary" %>
              <%= link_to "ToDo一覧", user_goal_subgoal_doing_todoes_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, doing_id: doing.id), class: "btn btn-info" %>
              <%= link_to "検証", user_goal_subgoal_doing_doingchecks_path(current_user, @goal, @subgoal, doing), class: "btn btn-warning" %>
              <%= link_to "編集", edit_user_goal_subgoal_doing_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, id: doing.id), class: "btn btn-success" %>
              <%= link_to "削除", user_goal_subgoal_doing_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, id: doing.id), method: :delete,
                  data: { confirm: "「#{ doing.doing }」を削除してよろしいですか？" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>