<% provide(:title, 'Do詳細') %>
<% provide(:body_id, 'view-background') %>
<% provide(:button_cancel, '戻る') %>

<!-- パンくずリスト -->
<% breadcrumb :doing_show, @doing %>

<h1>Do詳細</h1>

<div class="row">
  <div class="col-md-10 col-md-offset3">
    <table class="table table-bordered table-condensed" id="table-detail">
      <tr>
        <th class="col-md-3"><%= Doing.human_attribute_name :doing %></th>
          <td class="col-md-9"><%= @doing.doing %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Doing.human_attribute_name :start_day %></th>
          <td class="col-md-9"><%= l(@doing.start_day, format: :long) %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Doing.human_attribute_name :finish_day %></th>
          <td class="col-md-9"><%= l(@doing.finish_day, format: :long) %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Doing.human_attribute_name :pattern %></th>
          <td class="col-md-9"><%= @doing.pattern ? "完結型" : "継続型" %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Doing.human_attribute_name :impact %></th>
          <td class="col-md-9"><%= @doing.impact %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Doing.human_attribute_name :worktime %></th>
          <td class="col-md-9"><%= @doing.worktime %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Doing.human_attribute_name :easy %></th>
          <td class="col-md-9"><%= @doing.easy %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Doing.human_attribute_name :progress %></th>
          <td class="col-md-9"><%= @doing.progress %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Doing.human_attribute_name :priority %></th>
          <td class="col-md-9"><%= @doing.priority %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Doing.human_attribute_name :hold %></th>
          <td class="col-md-9"><%= @doing.hold ? "保留中" : "実行中" %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Doing.human_attribute_name :note %></th>
          <td class="col-md-9"><%= @doing.note %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Doing.human_attribute_name :created_at %></th>
          <td class="col-md-9"><%= l(@doing.created_at, format: :long) %></td>
      </tr>
       <tr>
        <th class="col-md-3"><%= Doing.human_attribute_name :updated_at %></th>
          <td class="col-md-9"><%= l(@doing.updated_at, format: :long) %></td>
      </tr>
    </table>
    <tr>
      <td>
        <%= link_to "編集", edit_user_goal_subgoal_doing_path(user_id: current_user, goal_id: @goal.id, subgoal_id: @subgoal.id, id: @doing.id), class: "btn btn-success" %>
        <%= link_to "検証", user_goal_subgoal_doing_doingchecks_path(current_user, @goal, @subgoal, @doing), class: "btn btn-warning" %>
        <%= link_to "削除", user_goal_subgoal_doing_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id, id: @doing.id), method: :delete,
            data: { confirm: "#{ @doing.doing }を削除してよろしいですか？" }, class: "btn btn-danger" %>
        <%= link_to "#{yield(:button_cancel)}", user_goal_subgoal_doings_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id), class: "btn btn-default" %>
      </td>
    </tr>
  </div>
</div>