<% provide(:title, 'Do検証一覧') %>
<% provide(:body_id, 'view-background') %>
<% provide(:button_search, '検索') %>

<!-- パンくずリスト -->
<% breadcrumb :doingcheck_index, @doing %>

<h1><%= @doing.doing %></h1>
<h1>Do検証一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <!-- 検索 -->
    <div class="col-md-6 col-md-offset-6">
      <div class="search-form">
        <h2>Do検証検索</h2>
        <%= form_with(scope: :search, url: search_user_goal_subgoal_doing_doingchecks_path(subgoal_id: @doing.subgoal_id, doing_id: @doing.id), method: :get, local: true) do |f| %>
          <div class="field">
            <%= f.label :estimate_check_at, Doingcheck.human_attribute_name(:estimate_check_at) %><br>
            <%= f.datetime_field :estimate_check_at_from, value: @search_params[:estimate_check_at_from] %> ~
            <%= f.datetime_field :estimate_check_at_to, value: @search_params[:estimate_check_at_to] %>
          </div>

          <div class="field">
            <%= f.label :check_at, Doingcheck.human_attribute_name(:check_at) %><br>
            <%= f.datetime_field :check_at_from, value: @search_params[:check_at_from] %> ~
            <%= f.datetime_field :check_at_to, value: @search_params[:check_at_to] %>
          </div>

          <div class="actions">
            <%= submit_tag "#{yield(:button_search)}", class: "btn btn-primary btn-#{yield(:class_text)}" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="menu-button">
      <%= link_to "Do検証新規作成", new_user_goal_subgoal_doing_doingcheck_path(current_user, @goal, @subgoal, @doing), class: "btn btn-lg btn-primary" %>
      <%= link_to "Do一覧へ戻る", user_goal_subgoal_doings_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id), class: "btn btn-lg btn-default" %>
    </div>
    <table class="table table-hover" id="table-index">
      <thead>
        <tr>
          <th width="200"><%= Doingcheck.human_attribute_name :estimate_check_at %></th>
          <th width="200"><%= Doingcheck.human_attribute_name :check_at %></th>
          <th width="100"><%= Doingcheck.human_attribute_name :span %></th>
          <th width="150"><%= Doingcheck.human_attribute_name :achivement %></th>
        </tr>
      </thead>
    
      <% if @doingchecks.present? %>
        <% @doingchecks.each do |doingcheck| %>
          <tr>
            <td><%= link_to "#{ l(doingcheck.estimate_check_at, format: :long) }", user_goal_subgoal_doing_doingcheck_path(current_user, @goal, @subgoal, @doing, doingcheck) %></td>
            <td><%= l(doingcheck.check_at, format: :long) if doingcheck.check_at.present? %></td>
            <td><%= doingcheck.span %></td>
            <td><%= doingcheck.achivement if doingcheck.achivement.present? %></td>
            <td align="center">
              <%= link_to "詳細", user_goal_subgoal_doing_doingcheck_path(current_user, @goal, @subgoal, @doing, doingcheck), class: "btn btn-primary" %>
              <%= link_to "編集", edit_user_goal_subgoal_doing_doingcheck_path(current_user, @goal, @subgoal, @doing, doingcheck), class: "btn btn-success" %>
              <%= link_to "削除", user_goal_subgoal_doing_doingcheck_path(current_user, @goal, @subgoal, @doing, doingcheck), method: :delete,
                  data: { confirm: "「#{ l(doingcheck.estimate_check_at, format: :long) }」の検証を削除してよろしいですか？" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>