<% provide(:title, 'Do検証登録') %>
<% provide(:body_id, "view-background") %>
<% provide(:class_text, 'create-doingcheck') %>
<% provide(:button_text, '新規作成') %>
<% provide(:button_cancel, '戻る') %>

<!-- パンくずリスト -->
<% breadcrumb :doingcheck_new, @doing %>

<h1>Do検証登録</h1>
<h2 class="head-supplement">
  <div class="h2-text">
    まずは以下2点から考える。<br>
    Q1.十分な時間をかけたか？<br>
    Q2.なぜ時間をかけても未達なのか？
  </div>
</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @doingcheck, url: user_goal_subgoal_doing_doingchecks_path(current_user, @goal, @subgoal, @doing), local: true) do |f| %>
      <%= render 'shared/object_error_messages', object: f.object %>

      <%= f.label :achivement, class: "label-#{yield(:class_text)}" %>&nbsp;<span class="supplement">※10%刻み</span>
      <%= f.number_field :achivement, in: 0..100, step: 10, class: "form-control" %>
      <div id="form-assist">
        ・Do達成率を記載する
      </div>

      <%= f.label :check, class: "label-#{yield(:class_text)}" %>
      <%= f.text_area :check, class: "form-control" %>
      <div id="form-assist">
        ・実行できた、またはできなかった理由を掘り下げる<br>
        ・「具体的にいうと？」という問いを繰り返す<br>
        ・「なぜ？」を繰り返し課題を整理する
      </div>

      <%= f.label :adjust, class: "label-#{yield(:class_text)}" %>
      <%= f.text_area :adjust, class: "form-control" %>
      <div id="form-assist">
        ・検証から調整を考える<br>
        ・ゴールそのものの見直しが必要か（中止、変更、追加）<br>
        ・計画の大幅な見直しが必要か（課題の入れ替え、追加）<br>
        ・サブゴール、Do、ToDoの見直しが必要か（入れ替え、優先順位の変更）<br>
        ・調整の必要なし
      </div>

      <%= f.label :check_at, class: "label-#{yield(:class_text)}" %>
      <%= f.datetime_field :check_at, class: "form-control datetime-form" %><br>

      <%= f.label :estimate_check_at, class: "label-#{yield(:class_text)}" %>
      <%= f.datetime_field :estimate_check_at, class: "form-control datetime-form" %><br>

      <%= f.label :span, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :span, class: "form-control date-form" %>
      <div id="form-assist">
        ・検証の周期を登録
      </div>

      <%= f.label :note, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :note, class: "form-control" %>

      <%= f.submit yield(:button_text), class: "btn btn-primary btn-lg btn-#{yield(:class_text)}" %>
      <%= link_to "#{yield(:button_cancel)}", user_goal_subgoal_doing_doingchecks_path(current_user, @goal, @subgoal, @doing), class: "btn btn-default btn-lg btn-#{yield(:class_text)}" %>

    <% end %>
  </div>
</div>
