<!-- コメント内容(2件) ------------------------------------------------------------------>
<%= comments.count %>件コメント
<h5 class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">▼もっと見る....</h5>
<% comments.first(2).each do |comment| %>
  <% unless comment.id.nil? %>
    <li class="comment-container">
      <div class="comment-box">
        <div class="comment-avatar">
          <%= image_tag "#{ comment.user.image}", fallback: "no_image.jpg", class:"comment-image", size: "40x40" %>
        </div>
        <div class="comment-text">
          <p><%= link_to "@#{ comment.user.name }", posts_show_own_post_user_path(comment.user.id) %></p>
          <div class="comment-entry">
            <%= comment.comment %>
            <% if (comment.user == current_user || current_user.admin?) %>
              <%= link_to user_post_comment_path(comment.user.id, comment.post_id, comment.id), method: :delete,
                data: { confirm: "削除してよろしいですか？" }, remote: true, class: "comment_destroy" do %>
                削除<i class="fas fa-fw fa-trash-alt" style="color: black;"></i>
              <% end %>
            <% end %>
          </div>
            <span class="comment-date pull-right">
              <%= comment.created_at.strftime('%Y年%m月%d日 %H:%M') %>
            </span>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
<!-- コメント内容(3件目以降) ------------------------------------------------------------------>
    <div class="collapse" id="collapseExample">
      <% comments.offset(2).each do |comment| %>
        <% unless comment.id.nil? %>
          <li class="comment-container">
            <div class="comment-box">
              <div class="comment-avatar">
                  <%= image_tag "#{ comment.user.image }", fallback: "no_image.jpg", class:"comment-image", size: "40x40" %>
              </div>
              <div class="comment-text">
                <p><%= link_to "@#{ comment.user.name }", posts_show_own_post_user_path(comment.user.id) %></p>
                <div class="comment-entry">
                  <%= comment.comment %>
                  <% if (comment.user == current_user || current_user.admin?) %>
                    <%= link_to user_post_comment_path(comment.user.id, comment.post_id, comment.id), method: :delete,
                      data: { confirm: "削除してよろしいですか？" }, remote: true, class: "comment_destroy" do %>
                      削除<i class="fas fa-fw fa-trash-alt" style="color: black;"></i>
                    <% end %>
                  <% end %>
                </div>
                <span class="comment-date pull-right">
                  <%= comment.created_at.strftime('%Y年%m月%d日 %H:%M') %>
                </span>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </div>