<% provide(:title, 'ゴール検証一覧') %>
<% provide(:body_id, 'view-background') %>
<% provide(:button_search, '検索') %>

<!-- パンくずリスト -->
<% breadcrumb :goalcheck_index, @goal %>

<h1><%= @goal.goal %></h1>
<h1>ゴール検証一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <!-- 検索 -->
    <div class="col-md-6 col-md-offset-6">
      <div class="search-form">
        <h2>ゴール検証検索</h2>
        <%= form_with(scope: :search, url: search_user_goal_goalchecks_path(current_user, @goal), method: :get, local: true) do |f| %>
          <div class="field">
            <%= f.label :estimate_check_at, Goalcheck.human_attribute_name(:estimate_check_at) %><br>
            <%= f.datetime_field :estimate_check_at_from, value: @search_params[:estimate_check_at_from] %> ~
            <%= f.datetime_field :estimate_check_at_to, value: @search_params[:estimate_check_at_to] %>
          </div>

          <div class="field">
            <%= f.label :check_at, Goalcheck.human_attribute_name(:check_at) %><br>
            <%= f.datetime_field :check_at_from, value: @search_params[:check_at_from] %> ~
            <%= f.datetime_field :check_at_to, value: @search_params[:check_at_to] %>
          </div>

          <div class="actions">
            <%= submit_tag "#{yield(:button_search)}", class: "btn btn-primary btn-#{yield(:class_text)}" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="menu-button">
      <%= link_to "ゴール検証新規作成", new_user_goal_goalcheck_path(current_user, @goal), class: "btn btn-lg btn-primary" %>
      <%= link_to "ゴール一覧へ戻る", user_goals_path(user_id: current_user.id), class: "btn btn-lg btn-default" %>
    </div>
    <table class="table table-hover" id="table-index">
      <thead>
        <tr>
          <th width="200"><%= Goalcheck.human_attribute_name :estimate_check_at %></th>
          <th width="200"><%= Goalcheck.human_attribute_name :check_at %></th>
          <th width="80"><%= Goalcheck.human_attribute_name :span %></th>
          <th width="150"><%= Goalcheck.human_attribute_name :achivement %></th>
        </tr>
      </thead>
    
      <% if @goalchecks.present? %>
        <% @goalchecks.each do |goalcheck| %>
          <tr>
            <td><%= link_to "#{ l(goalcheck.estimate_check_at, format: :long) }", user_goal_goalcheck_path(current_user, @goal, goalcheck.id) %></td>
            <td><%= l(goalcheck.check_at, format: :long) if goalcheck.check_at.present? %></td>
            <td><%= goalcheck.span %></td>
            <td><%= goalcheck.achivement if goalcheck.achivement.present? %></td>
            <td align="center">
              <%= link_to "詳細", user_goal_goalcheck_path(current_user, @goal, goalcheck.id), class: "btn btn-primary" %>
              <%= link_to "編集", edit_user_goal_goalcheck_path(current_user, @goal, goalcheck.id), class: "btn btn-success" %>
              <%= link_to "削除", user_goal_goalcheck_path(current_user, @goal, goalcheck.id), method: :delete,
                  data: { confirm: "「#{ l(goalcheck.estimate_check_at, format: :long) }」の検証を削除してよろしいですか？" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>