<% provide(:title, 'ゴールギャップ一覧') %>
<% provide(:body_id, 'view-background') %>
<% provide(:button_search, '検索') %>

<!-- パンくずリスト -->
<% breadcrumb :goalgap_index, @goal %>

<h1><%= @goal.goal %></h1>
<h1>ゴールギャップ一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <!-- 検索 -->
    <div class="col-md-5 col-md-offset-6">
      <div class="search-form">
        <h2>ゴールギャップ検索</h2>
        <%= form_with(scope: :search, url: search_user_goal_goalgaps_path(current_user, @goal), method: :get, local: true) do |f| %>
          <div class="field">
            <%= f.label :goal, Goalgap.human_attribute_name(:gap) %>
            <%= f.text_field :gap, value: @search_params[:gap], placeholder: "キーワードを入力してください。", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :impact, Goalgap.human_attribute_name(:impact) %><br>
            <%= f.select :impact, Goalgap.impacts.keys, { include_blank: "選択してください。", selected: "選択してください。"}, { class: "form-control" } %>
          </div>
          
          <div class="field">
            <%= f.label :worktime, Goalgap.human_attribute_name(:worktime) %><br>
            <%= f.select :worktime, Goalgap.worktimes.keys, { include_blank: "選択してください。", selected: "選択してください。"}, { class: "form-control" } %>
          </div>

          <div class="field">
            <%= f.label :easy, Goalgap.human_attribute_name(:easy) %><br>
            <%= f.select :easy, Goalgap.easies.keys, { include_blank: "選択してください。", selected: "選択してください。"}, { class: "form-control" } %>
          </div>

          <div class="field">
            <%= f.label :priority, Goalgap.human_attribute_name(:priority) %><br>
            <%= f.select :priority, Goalgap.priorities.keys, { include_blank: "選択してください。", selected: "選択してください。"}, { class: "form-control" } %>
          </div>

          <div class="actions">
            <%= submit_tag "#{yield(:button_search)}", class: "btn btn-primary btn-#{yield(:class_text)}" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="menu-btn">
      <%= link_to "ゴールギャップ新規作成", new_user_goal_goalgap_path(current_user, @goal), class: "btn btn-lg btn-primary" %>
      <span class="mgr-10">
        <%= link_to "ゴール一覧へ戻る", user_goals_path(current_user, @goal), class: "btn btn-lg btn-default" %>
      </span>
    </div>
    <table class="table table-hover" id="table-index">
      <thead>
        <tr>
          <th width="250"><%= Goalgap.human_attribute_name :gap %></th>
          <th width="100"><%= Goalgap.human_attribute_name :priority %></th>
          <th width="150"><%= Goalgap.human_attribute_name :created_at %></th>
          <th width="150"><%= Goalgap.human_attribute_name :updated_at %></th>
        </tr>
      </thead>
    
      <% if @goalgaps.present? %>
        <% @goalgaps.each do |goalgap| %>
          <tr>
            <td><%= link_to "#{ goalgap.gap }", user_goal_goalgap_path(user_id: current_user, goal_id: @goal.id, id: goalgap.id) %></td>
            <td><%= goalgap.priority %></td>
            <td><%= goalgap.created_at.strftime("%Y年%-m月%-d日") %></td>
            <td><%= goalgap.updated_at.strftime("%Y年%-m月%-d日") %></td>
            <td align="center">
              <%= link_to "詳細", user_goal_goalgap_path(user_id: current_user, goal_id: @goal.id, id: goalgap.id), class: "btn btn-primary" %>
              <%= link_to "編集", edit_user_goal_goalgap_path(user_id: current_user, goal_id: @goal.id, id: goalgap.id), class: "btn btn-success" %>
              <%= link_to "削除", user_goal_goalgap_path(user_id: current_user, goal_id: @goal.id, id: goalgap.id), method: :delete,
                  data: { confirm: "「#{ goalgap.gap }」を削除してよろしいですか？" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>