<% provide(:title, 'ゴールギャップ詳細') %>
<% provide(:body_id, 'view-background') %>
<% provide(:button_cancel, '戻る') %>

<!-- パンくずリスト -->
<% breadcrumb :goalgap_show, @goal %>

<h1>ゴールギャップ詳細</h1>

<div class="row">  
  <div class="col-md-10 col-md-offset3">
    <table class="table table-bordered table-condensed" id="table-detail">
      <tr>
        <th class="col-md-3"><%= Goalgap.human_attribute_name :gap %></th>
          <td class="col-md-9"><%= @goalgap.gap %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Goalgap.human_attribute_name :detail %></th>
          <td class="col-md-9"><%= @goalgap.detail %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Goalgap.human_attribute_name :solution %></th>
          <td class="col-md-9"><%= @goalgap.solution %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Goalgap.human_attribute_name :impact %></th>
          <td class="col-md-9"><%= @goalgap.impact %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Goalgap.human_attribute_name :worktime %></th>
          <td class="col-md-9"><%= @goalgap.worktime %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Goalgap.human_attribute_name :easy %></th>
          <td class="col-md-9"><%= @goalgap.easy %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Goalgap.human_attribute_name :priority %></th>
          <td class="col-md-9"><%= @goalgap.priority %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Goalgap.human_attribute_name :created_at %></th>
          <td class="col-md-9"><%= l(@goalgap.created_at, format: :long) %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Goalgap.human_attribute_name :updated_at %></th>
          <td class="col-md-9"><%= l(@goalgap.updated_at, format: :long) %></td>
      </tr>
    </table>
    <tr>
      <td>
        <%= link_to "編集", edit_user_goal_goalgap_path(user_id: current_user.id, goal_id: @goal.id, id: @goalgap.id), class: "btn btn-success" %>
        <%= link_to "削除", user_goal_goalgap_path(user_id: current_user.id, goal_id: @goal.id, id: @goalgap.id), method: :delete,
            data: { confirm: "#{ @goalgap.gap }を削除してよろしいですか？" }, class: "btn btn-danger" %>
        <%= link_to "#{yield(:button_cancel)}", :back, class: "btn btn-default" %>
      </td>
    </tr>
  </div>
</div>