<% provide(:title, 'サブゴール編集')%>
<% provide(:body_id, 'view-background') %>
<% provide(:class_text, 'edit-subgoal') %>
<% provide(:button_update, '更新') %>
<% provide(:button_cancel, '戻る') %>

<!-- パンくずリスト -->
<% breadcrumb :subgoal_edit, @subgoal %>

<h1>サブゴール編集</h1>
<h2 class="head">ゴールとのギャップを埋める解決策を登録します。</h2><br>
<h2 class="head-supplement">
  <div class="h2-text">
    ゴールギャップを元に解決策を登録します。
  </div>
</h2>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(model: @subgoal, url: user_goal_subgoal_path(@user.id, @goal.id, @subgoal.id), method: :patch, local: true) do |f| %>
    <%= render 'shared/object_error_messages', object: @subgoal %>
    
      <%= f.label :subgoal, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :subgoal, class: "form-control" %>
      <div id="form-assist">
        ・ゴールギャップの解決策からなるべく数値化した課題を設定する
        ・できるだけ頻繁に検証できるものにする
        ・成果がその数値に正確に反映されるものにする
        ・サブゴールは目指すべき結果であり行動目標ではない
      </div>

      <%= f.label :start_day, class: "label-#{yield(:class_text)}" %>
      <%= f.date_field :start_day, start_year: Time.now.year, class: "form-control datetime-form" %><br>

      <%= f.label :finish_day, class: "label-#{yield(:class_text)}" %>
      <%= f.date_field :finish_day, start_year: Time.now.year, class: "form-control datetime-form" %><br>

      <%= f.label :pattern, class: "label-#{yield(:class_text)}" %>&nbsp;&nbsp;
      <%= f.radio_button :pattern, "完結型" %>完結型 &nbsp;&nbsp;&nbsp;
      <%= f.radio_button :pattern, "継続型" %>継続型<br>
      <div id="form-assist">
      ・1回のアクションで終了か継続してアクションするものか選択
      </div>

      <%= f.label :impact, class: "label-#{yield(:class_text)}" %>
      <%= f.select :impact, Subgoal.impacts.keys, { include_blank: "選択してください。", selected: "選択してください。"}, 
          { class: "form-control" , required: true } %>
      <div id="form-assist">
        ・どれくらいの効果が見込めるかを選択
      </div>

      <%= f.label :worktime, class: "label-#{yield(:class_text)}" %>
      <%= f.select :worktime, Subgoal.worktimes.keys, { include_blank: "選択してください。", selected: "選択してください。"}, 
          { class: "form-control" , required: true } %>
			<div id="form-assist">
        ・どれくらいの時間がかかるかを選択
      </div>

      <%= f.label :easy, class: "label-#{yield(:class_text)}" %>
      <%= f.select :easy, Subgoal.easies.keys, { include_blank: "選択してください。", selected: "選択してください。"}, 
          { class: "form-control" , required: true } %>
			<div id="form-assist">
        ・低コスト、低リスク、低負荷の度合いを選択
      </div>

      <%= f.label :priority, class: "label-#{yield(:class_text)}" %>
      <%= f.select :priority, Subgoal.priorities.keys, { include_blank: "選択してください。", selected: "選択してください。"}, 
          { class: "form-control" , required: true } %>
      <div id="form-assist">
        ・インパクト、工数、気軽さから優先度を設定する
      </div>

      <%= f.label :progress, class: "label-#{yield(:class_text)}" %>
      <%= f.select :progress, Subgoal.progresses.keys, { include_blank: "選択してください。", selected: "選択してください。"}, { class: "form-control" , required: true } %>

      <%= f.label :important, class: "label-#{yield(:class_text)}" %>&nbsp;
      <%= f.check_box :important, class: "form-inline checkbox-subgoal" %>
      <div id="form-assist">
        ・ゴール到達に最も繋がるサブゴールを最低1つ、できれば2つ作成<br>
        ・最重要サブゴールの場合はチェック
      </div>

      <%= f.label :hold, class: "label-#{yield(:class_text)}" %>&nbsp;
      <%= f.check_box :hold, class: "form-inline checkbox-subgoal" %>
      <div id="form-assist">
        ・すぐに着手しない場合はチェック
      </div>

      <%= f.label :note, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :note, class: "form-control" %>
      
      <div class="button">
        <%= f.submit yield(:button_update), class: "btn btn-primary btn-lg btn-#{yield(:button_update)}" %>
        <%= link_to "#{yield(:button_cancel)}", user_goal_subgoals_path(@user.id, @goal.id), class: "btn btn-default btn-lg btn-#{yield(:button_update)}" %>
      </div>
    <% end %>
  </div>
</div>