<% provide(:title, current_user.name) %>
<% provide(:body_id, 'view-background') %>
<% provide(:button_search, '検索') %>

<!-- パンくずリスト -->
<% breadcrumb :subgoal_index, @goal %>

<h1><%= @goal.goal %></h1>
<h1>サブゴール一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <!-- 検索 -->
    <div class="col-md-5 col-md-offset-6">
      <div class="search-form">
        <h2>サブゴール検索</h2>
        <%= form_with(scope: :search, url: search_user_goal_subgoals_path(current_user, @goal), method: :get, local: true) do |f| %>
          <div class="field">
            <%= f.label :subgoal, Subgoal.human_attribute_name(:subgoal) %>
            <%= f.text_field :subgoal, value: @search_params[:goal], placeholder: "キーワードを入力してください。", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :important, Subgoal.human_attribute_name(:important) %>
            <%= f.check_box :important, { class: "form-check-input" } %>
          </div>

          <div class="field">
            <%= f.label :start_day, Subgoal.human_attribute_name(:start_day) %><br>
            <%= f.date_field :start_day_from, value: @search_params[:start_day_from] %> ~
            <%= f.date_field :start_day_to, value: @search_params[:start_day_to] %>
          </div>

          <div class="field">
            <%= f.label :priority, Subgoal.human_attribute_name(:priority) %><br>
            <%= f.select :priority, Subgoal.priorities.keys, { include_blank: "選択してください。"}, { class: "form-control" } %>
          </div>

          <div class="field">
            <%= f.label :hold, Subgoal.human_attribute_name(:hold) %>
            <%= f.check_box :hold, { class: "form-check-input"} %>
          </div>

          <div class="actions">
            <%= submit_tag "#{yield(:button_search)}", class: "btn btn-primary btn-#{yield(:class_text)}" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="menu-button">
      <%= link_to "サブゴール新規作成", new_user_goal_subgoal_path(user_id: current_user.id, goal_id: @goal.id), class: "btn btn-lg btn-primary" %>
      <%= link_to "ゴール一覧へ戻る", user_goals_path(user_id: current_user.id), class: "btn btn-lg btn-default" %>
    </div>
    <table class="table table-hover" id="table-index">
      <thead>
        <tr>
          <th width="200"><%= Subgoal.human_attribute_name :subgoal %></th>
          <th width="150"><%= Subgoal.human_attribute_name :start_day %></th>
          <th width="150"><%= Subgoal.human_attribute_name :finish_day %></th>
        </tr>
      </thead>
    
      <% if @subgoals.present? %>
        <% @subgoals.each do |subgoal| %>
          <tr>
            <td><%= link_to "#{subgoal.subgoal}", user_goal_subgoal_path(user_id: current_user.id, goal_id: @goal.id, id: subgoal.id) %></td>
            <td><%= l(subgoal.start_day, format: :long) %></td>
            <td><%= l(subgoal.finish_day, format: :long) %></td>
            <td align="center">
              <%= link_to "詳細", user_goal_subgoal_path(user_id: current_user.id, goal_id: @goal.id, id: subgoal.id), class: "btn btn-primary" %>
              <%= link_to "ギャップ", user_goal_subgoal_subgoalgaps_path(user_id: current_user, goal_id: @goal.id, subgoal_id: subgoal.id), class: "btn btn-default" %>
              <%= link_to "Do", user_goal_subgoal_doings_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: subgoal.id), class: "btn btn-info" %>
              <%= link_to "検証", user_goal_subgoal_subgoalchecks_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: subgoal.id), class: "btn btn-warning" %>
              <%= link_to "編集", edit_user_goal_subgoal_path(user_id: current_user.id, goal_id: @goal.id, id: subgoal.id), class: "btn btn-success" %>
              <%= link_to "削除", user_goal_subgoal_path(user_id: current_user.id, goal_id: @goal.id, id: subgoal.id), method: :delete,
                  data: { confirm: "「#{ subgoal.subgoal }」を削除してよろしいですか？" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>