<% provide(:title, current_user.name) %>
<% provide(:body_id, "view_background") %>

<h1><%= @goal.goal %><br>サブゴール一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to "ゴール一覧へ戻る", user_goals_path(user_id: current_user.id), class: "btn btn-lg btn-default pull-right" %>
    <%= link_to "サブゴール新規作成", new_user_goal_subgoal_path(user_id: current_user.id, goal_id: @goal.id), class: "btn btn-lg btn-primary pull-right" %>
    <table class="table table-hover" id="table-subgoals">
      <thead>
        <tr>
          <th><%= Subgoal.human_attribute_name :subgoal %></th>
          <th><%= Subgoal.human_attribute_name :start_day %></th>
          <th><%= Subgoal.human_attribute_name :finish_day %></th>
        </tr>
      </thead>
    
      <% if @subgoals.present? %>
        <% @subgoals.each do |subgoal| %>
          <tr>
            <td><%= link_to "#{subgoal.subgoal}", user_goal_subgoal_path(user_id: current_user.id, goal_id: @goal.id, id: subgoal.id) %></td>
            <td><%= l(subgoal.start_day, format: :long) %></td>
            <td><%= l(subgoal.finish_day, format: :long) %></td>
            <td align="center">
              <%= link_to "詳細", user_goal_subgoal_path(user_id: current_user.id, goal_id: @goal.id, id: subgoal.id), class: "btn btn-primary" %>
              <%= link_to "Do一覧", user_goal_subgoal_doings_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: subgoal.id), class: "btn btn-info" %>
              <%= link_to "検証", user_goal_subgoal_subgoalchecks_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: subgoal.id), class: "btn btn-warning" %>
              <%= link_to "編集", edit_user_goal_subgoal_path(user_id: current_user.id, goal_id: @goal.id, id: subgoal.id), class: "btn btn-success" %>
              <%= link_to "削除", user_goal_subgoal_path(user_id: current_user.id, goal_id: @goal.id, id: subgoal.id), method: :delete,
                  data: { confirm: "「#{ subgoal.subgoal }」を削除してよろしいですか？" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>