<% provide(:title, current_user.name) %>
<% provide(:body_id, 'view-background') %>
<% provide(:button_cancel, '戻る') %>

<!-- パンくずリスト -->
<% breadcrumb :subgoal_show, @subgoal %>

<h1>サブゴール詳細</h1>

<div class="row">  
  <div class="menu-button">
    <%= link_to "サブゴールギャップ新規作成", new_user_goal_subgoal_subgoalgap_path(current_user, @goal, @subgoal), class: "btn btn-lg btn-primary" %>
    <%= link_to "サブゴールギャップ一覧", user_goal_subgoal_subgoalgaps_path(current_user, @goal, @subgoal), class: "btn btn-lg btn-primary" %>
  </div>
  <div class="col-md-10 col-md-offset3">
    <table class="table table-bordered table-condensed" id="table-detail">
      <tr>
        <th class="col-md-3"><%= Subgoal.human_attribute_name :subgoal %></th>
          <td class="col-md-9"><%= @subgoal.subgoal %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoal.human_attribute_name :important %></th>
          <td class="col-md-9"><%= @subgoal.important ? "重要" : "通常" %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoal.human_attribute_name :start_day %></th>
          <td class="col-md-9"><%= l(@subgoal.start_day, format: :long) %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoal.human_attribute_name :finish_day %></th>
          <td class="col-md-9"><%= l(@subgoal.finish_day, format: :long) %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoal.human_attribute_name :pattern %></th>
          <td class="col-md-9"><%= @subgoal.pattern ? "完結型" : "継続型" %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoal.human_attribute_name :impact %></th>
          <td class="col-md-9"><%= @subgoal.impact %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoal.human_attribute_name :worktime %></th>
          <td class="col-md-9"><%= @subgoal.worktime %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoal.human_attribute_name :easy %></th>
          <td class="col-md-9"><%= @subgoal.easy %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoal.human_attribute_name :progress %></th>
          <td class="col-md-9"><%= @subgoal.progress %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoal.human_attribute_name :priority %></th>
          <td class="col-md-9"><%= @subgoal.priority %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoal.human_attribute_name :hold %></th>
          <td class="col-md-9"><%= @subgoal.hold ? "保留中" : "実行中" %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoal.human_attribute_name :note %></th>
          <td class="col-md-9"><%= @subgoal.note %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoal.human_attribute_name :created_at %></th>
          <td class="col-md-9"><%= l(@subgoal.created_at, format: :long) %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Subgoal.human_attribute_name :updated_at %></th>
          <td class="col-md-9"><%= l(@subgoal.updated_at, format: :long) %></td>
      </tr>
    </table>
    <tr>
      <td>
        <%= link_to "編集", edit_user_goal_subgoal_path(user_id: current_user.id, goal_id: @goal.id, id: @subgoal.id), class: "btn btn-success" %>
        <%= link_to "検証", user_goal_subgoal_subgoalchecks_path(user_id: current_user.id, goal_id: @goal.id, subgoal_id: @subgoal.id), class: "btn btn-warning" %>
        <%= link_to "削除", user_goal_subgoal_path(user_id: current_user.id, goal_id: @goal.id, id: @subgoal.id), method: :delete,
            data: { confirm: "#{ @subgoal.subgoal }を削除してよろしいですか？" }, class: "btn btn-danger" %>
        <%= link_to "#{yield(:button_cancel)}", user_goal_subgoals_path(user_id: current_user.id, goal_id: @goal.id), class: "btn btn-default" %>
      </td>
    </tr>
  </div>
</div>