<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="col-md-6.mx-auto">
  <div class="form-inline clearfix">
    <span>
      <%= link_to user_path(visitor) do %>
        <%= link_to image_tag("#{ visitor.image }", width: '50', :alt => 'ユーザーアイコン'), posts_show_own_post_user_path(visitor.id) %>
        <strong>
          <%= visitor.name %>
       さんが
      <% case notification.action %>
        <% when 'follow' then %>
          あなたをフォローしました。
        <% when 'like' then %>
          <%= link_to 'あなたの投稿', user_post_path(current_user, notification.post), style: "font-weight: bold;" %>
          にいいねしました。
        <% when 'comment' then %>
          <% if notification.post.user_id == visited.id %>
            <%= link_to "あなたの投稿", user_post_path(current_user, notification.post), style: "font-weight: bold;" %>
          <% else %>
            <span>
              <%= link_to user_posts_path(notification.post) do %>
                <%= link_to image_tag("#{ @user.image }", width: '50', :alt => 'ユーザーアイコン'), posts_show_own_post_user_path(@user) %>
                <strong>
                  <%= link_to "#{ notification.post.user.name }さんの投稿",  user_post_path(@user, notification.post), style: "font-weight: bold;" %>
            </span>
          <% end %>
        <% end %>
            にコメントしました。
          <p class="text-muted.mb-0">
            <%= Comment.find_by(id: notification.comment_id)&.comment %>
          </p>
      <% end %>
    <% end %>
  </span>
  <div class="small.text-muted.text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>
  </div>
</div>