<%= form_with(model: @user, local: true) do |f| %>
  <%= render 'shared/object_error_messages', object: f.object %>

  <%= f.label :name, class: "label-#{yield(:class_text)}" %>&nbsp;<span class="badge badge-danger">必須</span>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :image, class: "label-#{yield(:class_text)}" %>
  <%= f.file_field :image %>

  <%= f.label :introduction, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :introduction, class: "form-control" %>

  <%= f.label :email, class: "label-#{yield(:class_text)}" %>&nbsp;<span class="badge badge-danger">必須</span>
  <%= f.email_field :email, class: "form-control" %>

  <%= f.label :password, class: "label-#{yield(:class_text)}" %>
  <% if current_page?(signup_path) %>
    &nbsp;<span class="badge badge-danger">必須</span>
  <% end %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation, class: "label-#{yield(:class_text)}" %>
  <% if current_page?(signup_path) %>
    &nbsp;<span class="badge badge-danger">必須</span>
  <% end %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <!-- 新規ユーザー作成の場合、利用規約の同意を確認 -->
  <% if current_user.nil? %>
    <div class=<%= "label-#{yield(:class_text)}" %>>
      <%= f.check_box :agreement, {}, checked_value = "true", unchecked_value = "false" %>
      <%= link_to "利用規約", rule_path %>及び
      <%= link_to "プライバシーポリシー", policy_path %>に同意する<br>
      <%= recaptcha_tags %>
      <p>Googleアカウントでログインしない場合はチェックを入れてください。</p>
    </div>
  <% end %>

  <%= f.submit yield(:button_text), class: "btn btn-primary btn-lg btn-#{yield(:class_text)}" %>
  <%= link_to "#{yield(:button_cancel)}", :back, class: "btn btn-lg btn-default btn-#{yield(:class_text)}" %>
<% end %>
