<div data-turbolinks="false">
  <% @events.each do |event| %>
    <div id='inputScheduleEditForm<%= event.id %>' class="modal fade" tabindex="-1">
      <div class="modal-dialog modal-nm">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">スケジュール編集</h4>
          </div>
          <div class="modal-body">
            <div  class="col">
              <%= form_with(model: event, url: user_event_path(user_id: current_user.id, id: event.id), local: true) do |f| %>
                <p>
                  <span>ToDo</span>
                  <span id="inputTitle" value=""><span><%= f.collection_select :title, @todoes, :todo, :todo, { include_blank: "選択してください。" }, { class:"form-control" } %></span>
                </p>
                <span>開始日時</span>
                <span><%= f.datetime_field :start_time, placeholder: "XXXX-XX-XX", class:"field" %> ~ </span><br>
                <span>終了日時</span>
                <span><%= f.datetime_field :end_time, placeholder: "XXXX-XX-XX", class:"field" %></span><br>
                <span>詳細</span>
                <span><%= f.text_field :description, class: "form-control", placeholder: "ToDoの詳細を記入してください" %></span>
                <span>終日</span>&nbsp;
                <span><%= f.check_box :allday,  { class: "check_box" }, true, false %></span><br>
                <span>色</span>
                <span><%= f.select :color, Event.colors.keys.to_a, { include_blank: "選択してください。"}, { class:"form-control" } %></span>
              </div>
                <div class="modal-footer">
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <%= f.submit "編集する", class: "btn btn-primary" %>
                  <%= link_to "削除", user_event_path(user_id: @user.id, id: event.id), method: :delete, 
                  data: { confirm: "#{ event.title } を削除してよろしいですか。"}, class: "btn btn-danger" %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>