  <div class="modal-dialog modal-nm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">スケジュール登録</h4>
      </div>
      <div class="modal-body">
        <%= form_with model:@event, url: user_events_path(@user.id) do |f| %>
          <div  class="col">
            <p>
              <span>ToDo</span>
              <span><%= f.collection_select :title, @todoes, :todo, :todo, { include_blank: "選択してください。" }, { class:"form-control" } %></span>
            </p>
            <span>開始日時</span>
            <span><%= f.datetime_field :start_time, placeholder: "XXXX-XX-XX", class:"field" %> ~ </span><br>
            <span>終了日時</span>
            <span><%= f.datetime_field :end_time, placeholder: "XXXX-XX-XX", class:"field" %></span><br>
            <span>詳細</span>
            <span><%= f.text_field :description, class: "form-control", placeholder: "ToDoの詳細を記入してください" %></span>
            <span>終日</span>&nbsp;
            <span><%= f.check_box :allday,  { class: "check_box" }, true, false %></span><br>
            <span>色</span>
            <span><%= f.select :color, Event.colors.keys.to_a, { include_blank: "選択してください。", selected: "選択してください。"}, { class:"form-control" } %></span>
          </div>
          <div class="modal-footer">
              <%= f.submit "登録する", class: "btn btn-primary" %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>