<li id="post-<%= post.id %>">
  <%= link_to image_tag("#{ post.user.image }", width: '120', :alt => 'ユーザーアイコン'), posts_show_own_post_user_path(post.user.id) %>
  <span class="user"><%= link_to post.user.name, posts_show_own_post_user_path(post.user) %></span>
  <span class="content">
    <div class="post_title">
      タイトル：<%= link_to "#{ post.title }", user_post_path(@user, post) %><br>
    </div>
    <div class="post_content">
      内容：<%= post.content %>
    </div>
    <div class="post_image">
      <% if post.post_image.present? %>
        <%= image_tag post.post_image.url, class: 'images', size: '200x200' %>
      <% end %>
    </div>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(post.created_at) %>前に投稿
    <% if (current_user?(post.user) || current_user.admin?) %>
      <%= link_to user_post_path(post.user.id, post.id), method: :delete,
        data: { confirm: "削除してよろしいですか？" }, remote: true, class: "post_destroy" do %>
        削除<i class="fas fa-fw fa-trash-alt" style="color: black;"></i>
      <% end %>
    <% end %>
  </span>
  <div id="index_like_<%= post.id %>">
    <%= render 'likes/like', post: post %>
  </div>
</li>