<% provide(:title, '全体の投稿') %>
<% provide(:body_id, 'view-background') %>

<!-- パンくずリスト -->
<% breadcrumb :post_index, current_user %>

<h1>全体の投稿</h1>
<%= link_to  "自分の投稿", posts_show_own_post_user_path(current_user), class: "btn btn-primary" %>
<%= link_to  "フォロー", following_user_path(current_user), class: "btn btn-primary" %>
<%= link_to  "フォロワー", followers_user_path(current_user), class: "btn btn-primary" %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-6">
    <% if @posts.any? %>
      <h3>全体の投稿 (<%= Post.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
  <div class="col-md-2">
    <%= render partial: 'notifications/index'%>
  </div>
</div>