<% provide(:title, '投稿詳細') %>
<% provide(:body_id, 'view-background') %>

<!-- パンくずリスト -->
<% breadcrumb :post_show, @post %>

<h1><%= @post.user.name %>さんの投稿詳細</h1>

<%= link_to  "全体の投稿", user_posts_path(current_user), class: "btn btn-primary" %>
<%= link_to  "自分の投稿", posts_show_own_post_user_path(current_user), class: "btn btn-primary" %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <span class="content">
      <div class="post_title">
        タイトル：<%= @post.title %><br>
      </div>
      <div class="post_content">
        内容：<%= @post.content %>
      </div>
      <div class="post_image">
        <% if @post.post_image.present? %>
          <%= image_tag @post.post_image.url, class: 'images' %>
        <% end %>
      </div>
    </span>
    <span class="timestamp">
      <%= time_ago_in_words(@post.created_at) %>前に投稿
      <% if (current_user?(@post.user) || current_user.admin?) %>
        <%= link_to user_post_path(@post.user.id, @post.id), method: :delete,
          data: { confirm: "削除してよろしいですか？" }, remote: true, class: "comment_destroy" do %>
          削除<i class="fas fa-fw fa-trash-alt" style="color: black;"></i>
        <% end %>
      <% end %>
    </span>
    <div id="index_like_<%= @post.id %>">
      <%= render 'likes/like', post: @post %>
    </div>
    <div id="comments_create">
      <%= render 'comments/show', post: @post %>
    </div>
  </div>
</div>