<% provide(:title, '投稿詳細') %>
<% provide(:body_id, 'view-background') %>

<h1><%= @post.user.name %>さんの投稿詳細</h1>

<%= link_to  "全体の投稿", user_posts_path(current_user), class: "btn btn-primary" %>
<%= link_to  "自分の投稿", posts_show_own_post_user_path(current_user), class: "btn btn-primary" %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <span class="content">
      <div class="post_title">
        タイトル：<%= @post.title %><br>
      </div>
      <div class="post_content">
        内容：<%= @post.content %>
      </div>
    <div class="post_image">
      <% if @post.post_images.present? %>
        <% @post.post_images.each do |image| %>
          <%= image_tag image.post_image.url, class: 'images' %>
        <% end %>
      <% end %>
    </div>
    </span>
    <span class="timestamp">
    <%= time_ago_in_words(@post.created_at) %>前に投稿
    <% if current_user?(@post.user) %>
      <%= link_to "削除", user_post_path(current_user, @post), method: :delete,
        data: { confirm: "削除してもよろしいですか。" } %>
    <% end %>
  </span>
  <div id="index_like_<%= @post.id %>">
    <%= render 'likes/like', post: @post %>
  </div>
    <div id="comment_area">
      <%= render 'comments/show', post: @post %>
    </div>
  </div>
</div>