<% provide(:title, 'ゴール編集')%>
<% provide(:body_id, 'view-background') %>
<% provide(:class_text, 'edit-goal') %>
<% provide(:button_update, '更新') %>
<% provide(:button_cancel, '戻る') %>

<!-- パンくずリスト -->
<% breadcrumb :goal_edit, @goal %>

<h1>ゴール編集</h1>
<h2 class="head-supplement">
  <div class="h2-text">
    ゴール設定の基準<br>
    ・期日を決める（理想は1～3ヶ月）<br>
    ・なるべく数値化する<br>
    ・適度に具体的なものにする
  </div>
</h2>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(model: @goal, url: user_goal_path(@user.id, @goal.id), method: :patch, local: true) do |f| %>
      <%= render 'shared/object_error_messages', object: @goal %>
      
      <%= f.label :goal, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :goal, class: "form-control" %>
      <div id="form-assist">
        ・達成したいゴールを登録
      </div>

      <%= f.label :category, class: "label-#{yield(:class_text)}" %>
      <%= f.select :category, Goal.categories.keys, { include_blank: "選択してください。", selected: "選択してください。"}, 
        { class: "form-control" , required: true } %>

      <%= f.label :start_day, class: "label-#{yield(:class_text)}" %>
      <%= f.date_field :start_day, start_year: Time.now.year, class: "form-control datetime-form" %><br>

      <%= f.label :finish_day, class: "label-#{yield(:class_text)}" %>
      <%= f.date_field :finish_day, class: "form-control datetime-form" %><br>

      <%= f.label :goal_index, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :goal_index, class: "form-control" %>
      <div id="form-assist">
        ・達成基準を登録<br>
        ・なるべく数値化する
      </div>

      <%= f.label :progress, class: "label-#{yield(:class_text)}" %>
      <%= f.select :progress, Goal.progresses.keys, { include_blank: "選択してください。", selected: "選択してください。"}, { class: "form-control" , required: true } %>

      <%= f.label :hold, class: "label-#{yield(:class_text)}" %>
      <%= f.check_box :hold, class: "form-inline checkbox-goal" %><br>

      <%= f.label :note, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :note, class: "form-control" %>
      
      <div class="button">
        <%= f.submit yield(:button_update), class: "btn btn-primary btn-lg btn-#{yield(:class_text)}" %>
        <%= link_to "#{yield(:button_cancel)}", user_goals_path(@user.id, @goal.id), class: "btn btn-default btn-lg btn-#{yield(:class_text)}" %>
      </div>
    <% end %>
  </div>
</div>