<% provide(:title, 'ゴール詳細') %>
<% provide(:body_id, 'view-background') %>
<% provide(:button_cancel, '戻る') %>

<!-- パンくずリスト -->
<% breadcrumb :goal_show, @goal %>

<h1>ゴール詳細</h1>
<div class="row">
  <div class="menu-button">
    <%= link_to "ゴールギャップ新規作成", new_user_goal_goalgap_path(current_user, @goal), class: "btn btn-lg btn-primary" %>
    <span class="mgr-10">
      <%= link_to "ゴールギャップ一覧", user_goal_goalgaps_path(current_user, @goal), class: "btn btn-lg btn-primary" %>
    </span>
  </div>
  
  <div class="col-md-10 col-md-offset3">
    <table class="table table-bordered table-condensed" id="table-detail">
      <tr>
        <th class="col-md-3"><%= Goal.human_attribute_name :goal %></th>
          <td class="col-md-9"><%= @goal.goal %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Goal.human_attribute_name :category %></th>
          <td class="col-md-9"><%= @goal.category %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Goal.human_attribute_name :start_day %></th>
          <td class="col-md-9"><%= l(@goal.start_day, format: :long) %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Goal.human_attribute_name :finish_day %></th>
          <td class="col-md-9"><%= l(@goal.finish_day, format: :long) %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Goal.human_attribute_name :goal_index %></th>
          <td class="col-md-9"><%= @goal.goal_index %></td>
      </tr>
      </tr>
        <th class="col-md-3"><%= Goal.human_attribute_name :progress %></th>
          <td class="col-md-9"><%= @goal.progress %></td>
      </tr>
      </tr>
        <th class="col-md-3"><%= Goal.human_attribute_name :hold %></th>
          <td class="col-md-9"><%= @goal.hold ? "保留中" : "実行中" %></td>
      </tr>
      </tr>
        <th class="col-md-3"><%= Goal.human_attribute_name :note %></th>
          <td class="col-md-9"><%= @goal.note %></td>
      </tr>
      <tr>
        <th class="col-md-3"><%= Goal.human_attribute_name :created_at %></th>
          <td class="col-md-9"><%= l(@goal.created_at, format: :long) %></td>
      </tr>
       <tr>
        <th class="col-md-3"><%= Goal.human_attribute_name :updated_at %></th>
          <td class="col-md-9"><%= l(@goal.updated_at, format: :long) %></td>
      </tr>
    </table>
    <tr>
      <td>
        <%= link_to "編集", edit_user_goal_path(user_id: current_user.id, id: @goal.id), class: "btn btn-success" %>
        <%= link_to "検証", user_goal_goalchecks_path(user_id: current_user.id, goal_id: @goal.id), class: "btn btn-warning" %>
        <%= link_to "削除", user_goal_path(user_id: current_user.id, id: @goal.id), method: :delete,
            data: { confirm: "#{ @goal.goal}を削除してよろしいですか？" }, class: "btn btn-danger" %>
        <%= link_to "#{yield(:button_cancel)}", user_goals_path(user_id: current_user.id), class: "btn btn-default" %>
      </td>
    </tr>
  </div>
</div>