<header class="navbar navbar-fixed-top", id="top-bar">
  <div class="container">
    <%= link_to "MOKU・TATSU", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right", id="menu-bar">
        <li>
          <%= link_to root_path, method: :get do %>
             <i class="fas fa-home"></i>
          <% end %>
        </li>
        <% if logged_in? %>
          <li><%= link_to  "マイページ", current_user %></li>
          <li><%= link_to  "投稿", user_posts_path(current_user) %>
          <li><%= link_to "ユーザー一覧", users_path %></li>
          <li><%= link_to  "ゴール一覧", user_goals_path(current_user) %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-user"></i><b class="caret"></b>
            </a>
            <ul class="dropdown-menu", id="dropdown-menu-bar">
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "ユーザー編集", edit_user_path(current_user) %></li>
              <li class="divider"></li>
                <li><%= link_to "利用規約", rule_path, id: "rule" %></li>
                <li><%= link_to "プライバシーポリシー", policy_path, id: "policy" %></li>
                <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
