<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/5caca421e0.js" crossorigin="anonymous"></script>
    <%= render 'layouts/shim' %>
  </head>

  <body id="<%= yield(:body_id) %>">
    <div id="wrapper">
      <%= render 'layouts/header' %>
        <div class="container">
          <%= breadcrumbs separator: " &rsaquo; ", class: "breadcrumbs-list" %> <!-- パンくずリスト -->
          <% flash.each do |message_type, msg| %>
            <div class="alert alert-<%= message_type %>"><%= msg %>
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
          <% end %>
          <main>
            <%= yield %> <!-- ここにコンテンツの内容が入る -->
          </main>
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
      <footer id="pageFoot" class="footer outer-block">
        <div id="footer">
          <%= render 'layouts/footer' %>
        </div>
        <div id="page_top"><i class="fas fa-chevron-circle-up"></i></div>
      </footer>
    </div>
  </body>
</html>